{% block title %}{% endblock %}

{% extends 'base.html' %}
{% block content %}
    <p style="font-size: 40px; font-weight: bold; color: #CDA434">О нас</p>
    <p style="font-size: 20px; color: #CDA434">German Auto Parts — это технологичная компания, созданная для того, чтобы решить одну из главных проблем на рынке автозапчастей в России: риск приобретения контрафактных деталей и сложности с точным подбором оригинальных компонентов для немецких автомобилей.</p>
    <p style="font-size: 20px; color: #CDA434">Мы специализируемся исключительно на запчастях для ведущих немецких брендов — Mercedes-Benz, BMW, Audi, Volkswagen и Porsche. Наша ключевая особенность — сочетание глубокой экспертизы в области немецкого автопрома с передовыми технологиями. Мы разработали собственную систему AI-подбора и блокчейн-верификации, которая гарантирует 100% подлинность и идеальную совместимость каждой детали.</p>
    <p style="font-size: 20px; color: #CDA434">Наша миссия — обеспечить владельцам немецких автомобилей и профессиональным СТО полную уверенность в каждом заказе. Мы создаем экосистему, где технология, качество и сервис работают вместе, чтобы сделать покупку автозапчастей простой, безопасной и предсказуемой.</p>
    <img src="{{ url_for('static', filename='img/Screenshot8480.png') }}"  width="500">
{% endblock %}