{% block title %}{% endblock %}

{% extends 'base.html' %}
{% block content %}
    <p style="font-size: 40px; font-weight: bold; color: #CDA434">О компании</p>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">German Auto Parts — это надежный поставщик оригинальных автозапчастей для немецких автомобилей. Мы создали компанию, чтобы владельцы Mercedes-Benz, BMW, Audi, Volkswagen и Porsche могли покупать запчасти без риска столкнуться с подделкой.</p>
    <h2 style="font-size: 30px; font-weight: bold; color: #CDA434">Что нас отличает:</h2>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">• Только оригинальные детали с полным пакетом документов</p>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">•  Умная система подбора по VIN — исключаем ошибки</p>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">• Прямые поставки от европейских производителей</p>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">• Проверка подлинности через QR-коды</p>
    <h2 style="font-size: 30px; font-weight: bold; color: #CDA434">Наша миссия:</h2>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">• Мы даем клиентам уверенность — в качестве каждой детали, в ее совместимости, в безопасности их автомобиля. Для нас важно, чтобы вы тратили время на дорогу, а не на поиск запчастей.</p>
    <h2 style="font-size: 30px; font-weight: bold; color: #CDA434">Кому мы помогаем:</h2>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">— Владельцам немецких автомобилей</p>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">— Автосервисам и СТОи</p>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">— Автопаркам и таксопаркам</p>
    <br>
    <br>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">Мы ценим ваше время и доверие, поэтому сделали процесс покупки максимально простым и прозрачным. German Auto Parts — это не просто магазин, а ваш надежный партнер в обслуживании автомобиля.</p>

{% endblock %}