{% block title %}{% endblock %}

{% extends 'base.html' %}
{% block content %}
    <p style="font-size: 40px; font-weight: bold; color: #CDA434">Главная</p>
    <h2 style="font-size: 30px; font-weight: bold; color: #CDA434">Оригинальные запчасти для немецких автомобилей</h2>
    <br>
    <h2 style="font-size: 30px; font-weight: bold; color: #CDA434">Почему выбирают именно нас?</h2>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">• Гарантия 100% подлинности через блокчейн-верификацию</p>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">• AI-подбор с нулевой вероятностью ошибки</p>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">• Прямые поставки от немецких производителей</p>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">• Собственная система контроля качества</p>
    <br>
    <h2 style="font-size: 30px; font-weight: bold; color: #CDA434">Мы работаем для тех, кто ценит надежность</h2>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">• Владельцы Mercedes-Benz, BMW, Audi, Volkswagen, Porsche</p>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">• Профессиональные СТО и автосервисы</p>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">• Автопарки и таксопарки</p>
    <p style="font-size: 20px; font-weight: bold; color: #CDA434">• Дилерские центры</p>
{% endblock %}